<%= form_for(@listing) do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <small class="text-muted">What are you selling?</small>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputFile">Picture</label>
    <input type="file" class="form-control-file" id="exampleInputFile">
  </fieldset>


  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

