<%= form_for(@listing) do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <small class="text-muted">What are you selling?</small>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <br>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
  </fieldset>


  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

