<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<br>
<p><%= link_to 'Submit Bid', new_bid_path(:listing => @listing) %></p>

<!-- on the side -->
<p>Listing price: <%= @listing.price %></p>
<p>Average price: <%= @listing.average_price %></p>
<p>Bid quantity: <%= @listing.bid_quantity %></p>
<p>Bids</p>
<% @bids.each do |bid| %>
  <ul>
    <li><%= bid.bid_price %></li>
  </ul>
<% end %>
