<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<p><%= link_to 'Sort by Average Price', listings_path(:sort => 'average_price') %></p>
<p><%= link_to 'Sort by Number of Bids', listings_path(:sort => 'bid_quantity') %></p>
<br>

<div class='row'>
  <% @listings.each do |listing| %>
    <% if !listing.accepted %>
      <div class='col-md-4'>
        <%= link_to(listing, :class => 'thumbnail') do %>
          <h4><%= listing.title %></h4>
          <%= image_tag listing.image.thumb.url if listing.image? %>
          <p><strong>Average Price: </strong><%= listing.average_price %></p>
          <p><strong>Number of Bids: </strong><%= listing.bid_quantity %></p>
          <p><strong>Date Created: </strong><%= listing.created_at %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
