<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
    <tr>
      <th>Item</th>
      <th>Average Price</th>
      <th>Average Bids</th>
      <th>Picture</th>
      <th>Bid</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <!-- Sort -->

    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.average_price %></td>
        <td><%= listing.average_quantity %></td>
        <td>Picture goes here</td>
        <td><%= link_to 'Bid', '/' %></td>
        <td><%= listing.user %></td>
        <!-- Remove this later -->
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Remove', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
