<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
    <tr>
      <th>Item</th>
      <th>Average Price</th>
      <th>Average Bids</th>
      <th>Picture</th>
      <th>Bid</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <!-- Sort -->

    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.average_price %></td>
        <td><%= listing.average_quantity %></td>
        <td>Picture goes here</td>
        <td><%= link_to 'Bid', bid_listing_path(listing) %></td>
        <td><%= listing.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
