<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
    <tr>
      <th>Item</th>
      <th><%= link_to 'Average Price', listings_path(:sort => 'average_price') %></th>
      <th><%= link_to 'Number of Bids', listings_path(:sort => 'bid_quantity') %></th>
      <th>Picture</th>
      <th>View Bids</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <!-- Sort -->

    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.average_price %></td>
        <td><%= listing.bid_quantity %></td>
        <td>Picture goes here</td>
        <td><%= link_to 'Bids', bid_listing_path(listing) %></td>
        <td><%= listing.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
