<h1>Your Listings</h1>

<p><%= link_to 'Add a Listing', new_listing_path %></p>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
    <tr>
      <th>Item</th>
      <th>Set Price</th>
      <th>Average Price</th>
      <th>Bids</th>
      <th>Picture</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <!-- Sort -->

    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.price %></td>
        <td><%= listing.average_price %></td>
        <td><%= listing.bid_quantity %></td>
        <td>Picture goes here</td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>