<h1>Your Listings</h1>

<p><%= link_to 'Add a Listing', new_listing_path %></p>
       
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to 'Listing', sell_listings_path(:sort => 'title') %></th>
      <th><%= link_to 'Asking Price', sell_listings_path(:sort => 'price') %></th>
      <th><%= link_to 'Average Price', sell_listings_path(:sort => 'average_price') %></th>
      <th><%= link_to 'Bids', sell_listings_path(:sort => 'bid_quantity') %></th>
      <th><%= link_to 'Date Created', sell_listings_path(:sort => 'created_at') %></th>
      <th><%= link_to 'Accepted?', sell_listings_path(:sort => 'accepted') %></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, edit_listing_path(listing) %></td>
        <td><%= listing.price %></td>
        <td><%= listing.average_price %></td>
        <td><%= link_to listing.bid_quantity, listing %></td>
        <td><%= listing.created_at %></td>
        <td><%= listing.accepted %></td>
      </tr>
    <% end %>
  </tbody>
</table>