<p id="notice"><%= notice %></p>

<% if @listing.accepted and @listing.user_id != current_user.id %>
  <h2>This listing is no longer available. Feel free to check out <a href=listings_path>Other Listings</a>.</h2>

<% else %>
  <div class="col-md-6">
  <h1><%= @listing.title %></h1>
    <table class="table table-hover">
      <tbody>
        <tr><td><%= image_tag @listing.image.thumb.url if @listing.image? %></td></tr>
        <tr><td><strong>Date:</strong> <%= @listing.created_at %></td></tr>
        <tr><td><strong>Listing Price:</strong> <%= @listing.price %></td></tr>
        <tr>
          <td><strong>Description:</strong> <br><%= @listing.description %></td></tr>
      </tbody>
    </table>
    <br>
    <% if current_user and @listing.user_id == current_user.id %>
      <%= link_to 'Edit', edit_listing_path(@listing) %> |
      <%= link_to 'Your Listings', '/listings/sell' %> |
    <% end %>
    <%= link_to 'Back', listings_path %>
  </div>

  <div class="col-md-6">
    <h2>Bids</h2>
    <% if @listing.accepted %>
      <h3>You've accepted this bid!</h3>
    <% end %>
    <p><strong>Average price:</strong> <%= @listing.average_price %></p>
    <% if current_user and @listing.user_id != current_user.id %>
      <%= link_to 'Submit Bid', new_bid_path(:listing => @listing) %>
    <% end %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= link_to 'Bid Price', listing_path(@listing, :sort => 'bid_price') %></th>
          <th><%= link_to 'Date Created', listing_path(@listing, :sort => 'created_at')%></th>
          <% if current_user and @listing.user_id == current_user.id %>
            <th>Accepted?</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @bids.each do |bid| %>
          <tr>
            <td><%= bid.bid_price %></td>
            <td><%= bid.created_at %></td>
            <% if current_user and @listing.user_id == current_user.id and !@listing.accepted %>
              <td><%= link_to 'Accept', accept_bid_path(bid, :listing => @listing.id), method: :post, data: { confirm: 'Are you sure you want to accept this bid?' } %></td>
            <% elsif current_user and @listing.user_id == current_user.id and bid.accepted %>
              <td>Accepted!</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
