<p id="notice"><%= notice %></p>

<h1>Your Bids</h1>
          
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= 'Listing' %></th>
      <th><%= link_to 'Date Created', bids_path(:sort => 'created_at') %></th>
      <th><%= link_to 'Accepted?', bids_path(:sort => 'accepted') %></th>
    </tr>
  </thead>
  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <% listing = Listing.find(bid.listing_id) %>
        <td><%= link_to listing.title, bid %></td>
        <td><%= bid.created_at %></td>
        <td><%= bid.accepted %></td>
      </tr>
    <% end %>
  </tbody>
</table>