<p id="notice"><%= notice %></p>

<h1>Your Bids</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th>Listing</th>
      <th>View</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <% listing = Listing.find(bid.listing_id) %>
        <td><%= listing.title %></td>
        <td><%= link_to 'View', bid %></td>
        <td><%= link_to 'Remove', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'All Listings', '/' %>