<!DOCTYPE html>
<html>
<head>
  <title>Marketplace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <nav>
    <ul>
      <li><%= link_to 'Buy', '/' %></li>
      <li><%= link_to 'Sell', '/listings/sell' %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </nav>

<% else %>
  <%= link_to "Sign In", user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
